* {
  padding: 0;
  margin: 0;
  border: 0;
	scrollbar-color: #981111 #05161a;	

}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: 1;
  font-style: 14px;
  font-family: 'Inter', sans-serif;;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
 
  
}
.wrapper{
	min-height: 100%;
	display: flex;
	flex-direction: column;

}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}
a{
	color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: inherit;
  font-weight: 400;
}
body{
	color: #fff;
	font-family: "Metrophobic", sans-serif;
	scroll-behavior: smooth;
}
body::-webkit-scrollbar-thumb{
	background-color: #05161a ;
}
.mobile{
	display: none;
}
.container{
	width: 1200px;
	margin: 0 auto;
}
.header{
	background-color: #05161a;
	margin-bottom: 60px;
}
.header__logo{
	flex-grow: 1;
}
.header__inner{
	display: flex;
	height: 100px;
	justify-content: space-between;
	align-items: center;
}
.header__nav{
	margin-right: 65px;

}
.header__list{
	display: flex;
}
.header__item{
	font-size: 25px;
}
.header__item:not(:last-child){
	margin-right: 69px;
}
.header__item a:hover{
	color: #981111;
	transition: all 0.8s;
}
.header__lang a{
	font-size: 30px;

}
.lang__active{
	color: #981111;
}
.header__lang span{
	display: inline-block;
	width: 4px;
	height: 25px;
	background-color: #fff;
	margin: 0px 12px;
}
.about__inner{
	display: flex;
	justify-content: space-between;
	margin-bottom: 80px;
}

.about__text{
	color: #05161A;
	max-width: 484px;
	margin-right: 84px;
	line-height: 31px;
	font-size: 25px;
}
.about__title{
	font-size: 40px;
	margin-bottom: 33px;
}
.about__img{
	position: relative;
	flex-grow: 1;
	height: 430px;
}
.about__img1{
	position: absolute;
	top: 0px;
	left: 0px;
}
.about__img2{
	position: absolute;
	top: 0px;
	right: 0px;
}
.about__img3{
	position: absolute;
	left:0;
	right:0;
	bottom:0;
	margin: auto;
}
.slider{
	width: 1200px;
	background-color: #05161a;
	margin-bottom: 100px;
}
.swiper{
	width: 100%;
	height: 450px;
}

.slider__inner{
	display: flex;
	padding: 25px;
	padding-right: 0px;


}
.slider__text{
	padding-top: 35px;
	
}
.slider__title{
	font-size: 45px;
	margin-bottom: 28px;
}
.slider__img{
	margin-right: 69px;
}
.slider__subtitle{
	max-width: 463px;
	font-size: 15px;
	line-height: 38px;
}
.top{
	top: unset !important;
	right: 33px !important;
}
.swiper-pagination-bullet{
	border-radius: 0px !important;
	width: 25px !important;
	height: 25px !important;
	background-color: #D0BEA2 !important;
	opacity: 1 !important;
}
.swiper-pagination-bullet-active{
	background-color: #981111 !important;
}
.swiper-pagination-horizontal{
	width: 5% !important;
	left: unset !important;
	bottom: 34px !important;
}
.swiper-pagination-bullet{
	margin: 5px !important;
}
.cards{
	margin-bottom: 80px;
}
.cards__inner{
	display: flex;
	justify-content: space-between;
}
.card__item{
	width: 300px;
	height: 400px;
	background-color: #05161a;
	text-align: center;
	padding-top: 30px ;
	padding-left: 45px;
	padding-right: 45px;
}
.main{
	flex: 1 1 auto;
}
.card__img{
	display: inline-block;
	background-color: #D0BEA2;
	width: 120px;
	height: 100px;
	border-radius: 40px;
	margin-bottom: 21px;
}
.card__title{
	font-size: 30px ;
	margin-bottom: 35px;
}
.card__list{
	height: 119px;
	font-size: 25px;
}
.card__li{
	display: flex;
	width: 209px;
	justify-content: space-between;
	margin-bottom: 13px;
}
.boll{
	width: 14px;
	height: 14px;
	background-color: #981111;
	border-radius: 100px;
}
.footer{
	height: 336px;
	background-color: #05161A;
	padding-top: 61px;
	padding-bottom: 56px;
}
.footer__grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 25px;
	flex-grow: 1;
}
.footer__colums{
	display: flex;
	font-size: 30px;
}
.footer__colum-1 a{
	display: block;
	margin-bottom: 40px;
	margin-right: 110px;
}
.footer__colum-1 img{
	margin-right: 21px;
}
.footer__colum-2 a{
	display: block;
	margin-bottom: 36px;
	margin-right: 175px;

}
.footer__colum-2 img{
	margin-right: 21px;

}
.footer__logo{
}
@media screen and (max-width: 1240px) {
	.container{
		width: 883px;
	}
	.about__text {
		max-width: 360px;
		font-size: 25px;
		max-height: 186px;
	}
	.slider{
		width: 883px;
		
	}
	
	.slider__inner{
		padding: 14px;
	}
	.slider {
		height: 320px;
	}
	.slider__title{
		font-size: 30px;
	}
	.slider__subtitle{
		font-size: 15px;
	}
	.slider__img img{
		width: 356px;
		height: 287px;
	}
	.slider__subtitle{
		max-width: 314px;
		font-size: 15px;
		line-height: 29px;
	}
	.slider__title {
		font-size: 35px;
		margin-bottom: 28px;
	}
	.slider__img {
		margin-right: 40px;
	}
	.about__img{
		height: 291px;
	}
	.slider__text{
		padding: unset;
	}
	.about__img img{
		width: 206px;
		height: 138px;
	}
	.swiper-pagination-horizontal{
		bottom: 149px !important;
	}
	.card__item{
		width: 214px;
		height: 285px;
		padding-top: 22px;
		
	}
	.card__img{
		width: 85px;
		height: 70px;
		margin-bottom: 16px;
	}
	.card__title{
		margin-bottom: 24px;
	}
	.card__list{
		font-size: 20px;
	}
	.card__img img{
		width: 83px;
		height: 81px;
	}
	.card__li{
		width: 147.01px;
		font: 20px;
	}
	.footer__grid img{
		width: 35px;
		height: 36px;
		margin-right: 10px;
	}
	.footer__grid a{
		font-size: 25px;
	}
	.footer__logo img{
		width: 202px;
		height: 143px;
	}
}
@media screen and (max-width: 900px) {
	.container{
		width: 430px;
	}
	.header__logo{
		flex-grow: unset;
	}
	.header__logo img{
		width: 91px;
		height: 51px;
	}
	.header__item, .header__lang a{
		font-size: 15px;
	}
	.header__item:not(:last-child){
		margin-right: 11px;
	}
	.header__nav{
		margin-right: 20px;
	}
	.header__inner{
		height: 70px;
	}
	.header__lang span{
		height: 17.88px;
	}
	.about__subtitle{
		max-width: 174px;
		font-size: 15px;
		line-height: 17px;
	}
	.about__title{
		font-size: 30px;
		margin-bottom: 4px;
	}
	.about__img{
		height: 324px;
		width: 173px;
	}
	.about__img img{
		width: 150px;
		height: 100px;
	}
	.about__img1{
		top: 0px;
		left: 0px;

	}
	.about__img2{
		right:0;
		top:0;
		bottom:0;
		margin: auto;
	}
	.about__img3{
		bottom: 0px;
		left: 0px;
		margin: unset;
	}
	.slider{
		width: 674px;
		height: 244px;
	}
	.slider__img img{
		width: 271px;
		height: 220px;
	}	
	.slider__title{
		font-size: 25px;
		margin-bottom: 12px;
	}
	.swiper-pagination-horizontal{
		width: 14% !important;
		bottom: 213px !important;
	}
	.swiper-pagination-bullet{
		width: 13.59px !important;
		height: 13.59px !important;
	}
	.card__item{
		width: 131px;
		height: 178px;
		padding-top: 14px ;
		padding-bottom: 22px;
		padding-left: 17px;
		padding-left: 16px;
	}
	.card__img{
		width: 52px;
		height: 50px;
		margin-bottom: 5px;
	}
	.card__img img{
		width: 48px;
		height: 54px;
	}
	.card__title{
		font-size: 15px;
		margin-bottom: 14px;
		margin-left: 20px;
	}
	.card__list{
		font-size: 11px;
	}
	.card__li{
		width: 100px;
	}
	.card__li span{
		width: 5px;
		height: 5px;
	}
	.card__img{
		margin-left: 25px;
	}
	.footer__logo img{
		width: 91px;
		height: 45px;
	}
	.footer__grid a img{
		width: 20px;
		height: 18px;
	}
	.footer__grid a {
		font-size: 10px;
	}
	.footer{
		height: unset;
		padding-bottom: 30px;
	}
}
@media screen and (max-width: 682px) {
	.slider{
		width: 463px;
		height: 167px;
	}
	.slider__img img{
		width: 200px;
		height: 150px;
	}	
	.slider__title{
		font-size: 15px;
		margin-bottom: 7px;
	}
	.slider__subtitle{
		line-height: 13px;
	}
	.swiper-pagination-horizontal {
    width: 22% !important;
    bottom: 256px !important;
  }
}
@media screen and (max-width: 479px) {
	.header  {
		display: none;
	}
	.about{
		display: none;
	}
	.slider{
		display: none;
	}
	.cards{
		display: none;
	}
	.footer{
		display: none;
	}
	.mobile{
		display: unset;
	}
	.mobile__container{
		width: 390px;
		margin: 0 auto;
	}
	.mobile__header{
		background-color: #36C983;
		padding-top: 26px;
		padding-bottom: 37px;
	}
	.mobile__inner{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.logo__lang{
		font-size: 24px;
	}
	.mobile__active{
		display: inline;
		color: #D0DE30;
	}
	.mobile__top{
		background-color: #36C983;
		padding-bottom: 85px;
		margin-bottom: 62px;
	}
	.logo__lang span{
		display: inline-block;
		width: 4px;
		height: 26px;
		margin-left: 11px;
		margin-right: 11px;
		background-color: #fff;
	}
	.ellipse{
		width: 159px;
		height: 159px;
		background-color: #D0DE30;
		border-radius: 100px;
	}
	.mobile__ellipse{
		display: grid;
		grid-template-columns: 1fr auto;
		gap: 7px;
		margin-bottom: 25px;
	}
	.mobile__title{
		font-size: 80px;
		margin-bottom: 14px ;
	}
	.mobile__sub-title{
		font-size: 20px;
	}
	.mobile__aboutus{
		display: flex;
		justify-content: center;
		margin-bottom: 38px;
	}
	.mobile__aboutus-card{
		width: 332px;
		height: 431px;
		background-color: #252323;
		padding: 39px 30px;
		border-radius: 40px;
	}
	.mobile__card-title{
		text-align: center;
		margin-bottom: 39px;
		font-size: 35px;
	}
	.mobile__card-text{
		max-width: 266px;
		font-size: 20px;
	}
	.mobile__card-title span{
		border: 1px solid #fff;
		padding-left: 22px ;
		padding-right: 22px;
		padding-bottom: 6px;
		padding-top: 9px;
	}
	.offers__top img{
		width: 100%;
		height: 337px;
	}
	.offers__middle{
		padding-top: 58px;
		background-color: #36C983;
		text-align: center;
		padding-bottom: 72px;
	}
	.offers__title{
		font-size: 40px;
		margin-bottom: 20px;
	}
	.offers__subtitle{
		font-size: 20px;
		color: #D0DE30;
		margin-bottom: 72px;
	}
	.offers__cards{
		display: grid;
		grid-template-columns: 1fr auto;
		gap: 60px;
		padding-bottom: 108px;
	}
	.offers__card{
		text-align: start;
		padding-top: 21px;
		padding-bottom: 19px;
		padding-left: 19px;
		border: 1px solid #fff;
		border-radius: 40px;
		width: 147px;
	}
	.mobile-card__ellipse span{
		display: inline-block;
		width: 21px;
		height: 21px;
		background-color: #D0DE30;
		border-radius: 100px;
		margin-bottom: 100px;
	}
	.mobile-card__title{
		font-size: 25px;
		margin-bottom: 14px;
	}
	.mobile-card__text{
		font-size: 18px;
	}
	.offers__bottom{
		text-align: center;
		background-color: #252323;
	}
	.offers__bottom img{
		width: 100%;
	}
	.mobile__footer{
		background-color: #252323;
		padding-top: 43px;
		padding-bottom: 100px;
	}
	.mobile__footer-title{
		font-size: 80px;
		margin-bottom: 35px;
	}
	.mobile__footer-links{
		display: flex;
		justify-content: space-between;
		margin-bottom: 61px;
	}
	.mobile__footer-links a{
		padding: 29px 27px 26px 28px;
		background-color: #D0DE30;
		border-radius: 100px;
	}
	.footer__tel{
		text-align: center;
	}
	.footer__tel a{
		padding: 6px 43px;
		border: 1px solid #fff;
		border-radius: 100px;
	}
}